In [22]:
import numpy as np

Create a new array of 2*2 integers, without initializing entries.

In [4]:
np.empty([2,2], int)

array([[139620658149336, 139620658149336],
       [        9550048,         9520800]])

Let A = np.array([1,2,3], [4,5,6], np.int32). Create a new array with the same shape and type as A.

In [16]:
A = np.array([[1,2,3], [4,5,6]], np.int32)
np.empty_like(A)

array([[1, 2, 3],
       [4, 5, 6]], dtype=int32)

Create a 3-D array with ones on the diagonal and zeros elsewhere.

In [7]:
np.eye(3)

array([[ 1.,  0.,  0.],
       [ 0.,  1.,  0.],
       [ 0.,  0.,  1.]])


Create a new array of 3*2 float numbers, filled with ones.

In [8]:
np.ones([3,2], float)

array([[ 1.,  1.],
       [ 1.,  1.],
       [ 1.,  1.]])

Let x = np.arange(4, dtype=np.int64). Create an array of zeros with the same shape and type as X.

In [15]:
x = np.arange(4, dtype=np.int64)
np.zeros_like(x)

array([0, 0, 0, 0])

## From Exisiting data

Create an array of [1,2,3,4,5]

In [11]:
np.array([1, 2, 3, 4, 5])

array([1, 2, 3, 4, 5])

You are given X = [1, 2, 3]. Convert it into an array.

In [13]:
X = [1, 2, 3]
np.asarray(X)

array([1, 2, 3])

Let X = np.array([[1, 2, 3], [4, 5, 6]]). Convert it into a matrix.

In [14]:
X = np.array([[1, 2, 3], [4, 5, 6]])
np.asmatrix(X)

matrix([[1, 2, 3],
        [4, 5, 6]])

Let x = np.array([30]). Convert it into scalar of its single element, i.e. 30.

In [17]:
X = np.array([30])
np.asscalar(X)

30

## Numerical Ranges

Create an array of 2, 3, 4,..., 100.

In [29]:
np.arange(2, 101)

array([  2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,  14,
        15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,  27,
        28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,  40,
        41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,  53,
        54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,  66,
        67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,  79,
        80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,  92,
        93,  94,  95,  96,  97,  98,  99, 100])

Create an array of 2, 4, 6, 8, ..., 100.

In [30]:
np.arange(2, 101, 2)

array([  2,   4,   6,   8,  10,  12,  14,  16,  18,  20,  22,  24,  26,
        28,  30,  32,  34,  36,  38,  40,  42,  44,  46,  48,  50,  52,
        54,  56,  58,  60,  62,  64,  66,  68,  70,  72,  74,  76,  78,
        80,  82,  84,  86,  88,  90,  92,  94,  96,  98, 100])

Create a 1-D array of 50 evenly spaced elements between 3.0 and 10.0, inclusive.

In [31]:
np.linspace(3.0, 10.0, 50)

array([  3.        ,   3.14285714,   3.28571429,   3.42857143,
         3.57142857,   3.71428571,   3.85714286,   4.        ,
         4.14285714,   4.28571429,   4.42857143,   4.57142857,
         4.71428571,   4.85714286,   5.        ,   5.14285714,
         5.28571429,   5.42857143,   5.57142857,   5.71428571,
         5.85714286,   6.        ,   6.14285714,   6.28571429,
         6.42857143,   6.57142857,   6.71428571,   6.85714286,
         7.        ,   7.14285714,   7.28571429,   7.42857143,
         7.57142857,   7.71428571,   7.85714286,   8.        ,
         8.14285714,   8.28571429,   8.42857143,   8.57142857,
         8.71428571,   8.85714286,   9.        ,   9.14285714,
         9.28571429,   9.42857143,   9.57142857,   9.71428571,
         9.85714286,  10.        ])

Create a 1-D array of 50 element spaced evenly on a log scale between 3. and 10., exclusive.

In [32]:
np.logspace(3., 10., 50)

array([  1.00000000e+03,   1.38949549e+03,   1.93069773e+03,
         2.68269580e+03,   3.72759372e+03,   5.17947468e+03,
         7.19685673e+03,   1.00000000e+04,   1.38949549e+04,
         1.93069773e+04,   2.68269580e+04,   3.72759372e+04,
         5.17947468e+04,   7.19685673e+04,   1.00000000e+05,
         1.38949549e+05,   1.93069773e+05,   2.68269580e+05,
         3.72759372e+05,   5.17947468e+05,   7.19685673e+05,
         1.00000000e+06,   1.38949549e+06,   1.93069773e+06,
         2.68269580e+06,   3.72759372e+06,   5.17947468e+06,
         7.19685673e+06,   1.00000000e+07,   1.38949549e+07,
         1.93069773e+07,   2.68269580e+07,   3.72759372e+07,
         5.17947468e+07,   7.19685673e+07,   1.00000000e+08,
         1.38949549e+08,   1.93069773e+08,   2.68269580e+08,
         3.72759372e+08,   5.17947468e+08,   7.19685673e+08,
         1.00000000e+09,   1.38949549e+09,   1.93069773e+09,
         2.68269580e+09,   3.72759372e+09,   5.17947468e+09,
         7.19685673e+09,   1.00000000e+10])